/* Style the element that is used to open and close the accordion class */
p.accordion {
    background-color: rgb(255, 255, 255);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    text-align: left;
    border: none;
    outline:lightcoral solid;
    transition: 0.4s;
    margin:auto;
    margin-bottom:25px;
}

/* Add a background color to the accordion if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
p.accordion.active, p.accordion:hover {
    background-color: rgb(255, 223, 223);
}

/* Unicode character for "plus" sign (+) */
p.accordion:after {
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}


div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
    margin-bottom:10px;
}

div.panel.show {
    opacity: 1;
    max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}


.btn-group{
    margin-left: 80%;
    margin-top: -16vh;
}
.btn-group button {
    background-color: DodgerBlue;
    border: 1px solid black; /* Green border */
    padding: 5px 15px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    width:50px;
    height:40px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: RoyalBlue;
}


.btn {
    color: white; /* White text */
}