div.form-group {
    background-color: lightcoral;
    color: white;
    cursor: default;
    padding: 18px;
    width: 80%;
    text-align: left;
    border: none;
    outline:none;
    transition: 0.4s;
    margin: auto;
    margin-bottom:25px;
}

.button {
    margin-left: 10%;
    margin-bottom:0.5%;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
  
}
.share
{
    margin-left: 83%;

}

.fbshare
{
    margin-left: 75%;
    margin-top: -6%;
    background-color: rgb(66,103,178);
    width: 30px;
    height: 30px;
    text-align: center;
}

.letra
{
    color:white;
    font-style: Segoe UI;
    font-size: 30px;
}

.contener
{
    outline:black solid;
    padding-bottom: 100px;
    padding-top: 80px;
}