div.respuesta {
    background-color: rgb(255, 255, 255);
    color: #444;
    cursor: default;
    padding: 18px;
    width: 75%;
    text-align: left;
    border: none;
    outline:black solid;
    transition: 0.4s;
    margin: auto;
    margin-bottom:25px;
}