<div>
  <form (ngSubmit)="saveRespuesta()">
    <div class="form-group">
      <label for="texto">Responde:</label>
      <input type="texto" class="form-control" id="texto" required [(ngModel)]="respuesta.texto" name="texto">
    </div>
  </form>
  <script>
    var input = document.getElementById("myInput");
    input.addEventListener("keyup", function(event) {
        event.preventDefault();
        if (event.keyCode === 13) {
            document.getElementById("saveRespuesta()").click();
        }
    });
    </script>
</div>
