<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div *ngIf="pregunta">

  <p class="accordion" (click)="isOn=!isOn">{{pregunta.studentId.firstName}}:
  <br>
  {{pregunta.text}}
  </p>

  <button class="btn" id="btn" (click)="subirRating()"><i class="fa fa-heart">                              {{pregunta.rating}}</i></button>
  
  <app-respuesta-lista *ngIf="isOn" [pregunta]='pregunta'></app-respuesta-lista>
  <app-create-respuesta *ngIf="isOn" [pregunta]='pregunta'></app-create-respuesta>
</div>

