<div style="align-items: center; display: flex; border: 0;">
  <nav class="navbar navbar-default" style="margin: auto; background-color: white;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://www.upc.edu.pe">
          <img src="https://imge.androidappsapk.co/115/9/0/f/pe.edu.upc.mi.png" width="30" height="30" alt="">
        </a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="https://www.upc.edu.pe/adn-upc" style="color: #333; font-size: 15px ; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><strong>BUSES</strong></a></li>
        <li><a href="https://www.upc.edu.pe/servicios/" style="color: #333; font-size: 15px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><strong>SERVICIOS</strong></a></li>
        <li><a href="https://www.upc.edu.pe/content/campus" style="color: #333; font-size: 15px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><strong>CAMPUS</strong></a></li>
        <li><a href="https://www.upc.edu.pe/programas-internacionales" style="color: #333; font-size: 15px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><strong>UPC
              INTERNACIONAL</strong></a></li>
        <li><a href="https://www.upc.edu.pe/alumni" style="color: #333; font-size: 15px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><strong>ALUMNI</strong></a></li>
        <li><a href="http://bolsadetrabajo.upc.edu.pe/login/?next=/" style="color: #333; font-size: 15px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><strong>BOLSA
              DE TRABAJO</strong></a></li>
      </ul>
    </div>
  </nav>
</div>

<div>
  <div style="position: relative;">
    <img src="https://www.upc.edu.pe/sites/default/files/styles/carrera_pregrado/public/upc/home/sub_secciones/es/contacto_para_alumnos_upc/pagina_primaria_imagen_principal/contacto.jpg?itok=qB-P_IE7"
      width="100%" height="100%">

    <div style="position: absolute;">
      <img src="https://imge.androidappsapk.co/115/9/0/f/pe.edu.upc.mi.png" width="100%" height="100%">
    </div>
  </div>
</div>

<div>
  <div style="float: left; position: relative;">
    <img src="https://www.upc.edu.pe/sites/all/themes/upc/img/tramas/bg-trama005.jpg">
    <img src="https://www.upc.edu.pe/sites/all/themes/upc/img/tramas/bg-trama005.jpg">
    <img src="https://www.upc.edu.pe/sites/all/themes/upc/img/tramas/bg-trama005.jpg">

  </div>

  <div style="float: right; position: relative;">
    <img src="https://www.upc.edu.pe/sites/all/themes/upc/img/tramas/bg-trama005.jpg">
    <img src="https://www.upc.edu.pe/sites/all/themes/upc/img/tramas/bg-trama005.jpg">
    <img src="https://www.upc.edu.pe/sites/all/themes/upc/img/tramas/bg-trama005.jpg">
  </div>

  <!--div contrnido-->
  <div style="margin-left: 30%; margin-right: 30%; 
  background-color: white; position: absolute; text-align: left;">

    <div style=" padding: 10px; margin: 5px;   display: flex;    justify-content: center;
    border-style: solid; border-width: 4px; border-color: #333;">

      <div style="display: inline-block;
      margin: 5px; padding: 2px;">
        <span style="display: block;color: #333"><strong>Origen:</strong></span>
        <input type="text" class="form-control" placeholder="Ingresar Origen">
      </div>

      <div style="display: inline-block;
      margin: 5px; padding: 2px;">
        <span style="display: block; color: #333"><strong>Destino:</strong></span>
        <input type="text" class="form-control" placeholder="Ingresar Destino">
      </div>

      <div style="display: inline-block;
      margin: 5px; padding: 2px;">
        <span style="display: block; color: #333"><strong>Ruta:</strong></span>
        <button routerLink="listRuta" type="button" class="btn btn-danger">Buscar</button>
      </div>
    </div>

    <nav>
      <!--<a routerLink="newRuta" class="btn btn-primary active">Registrar nueva ruta</a>-->
      <a routerLink="listRuta" class="btn btn-primary active">Listar Rutas</a>
      <a routerLink="findRuta" class="btn btn-primary active">Buscar Rutas</a>

      <a routerLink="newSede" class="btn btn-primary active">Registrar nueva sede</a>
      <a routerLink="listSede" class="btn btn-primary active">Listar sede</a>
      <a routerLink="findSede" class="btn btn-primary active">Buscar sede</a>

   <!--<a routerLink="newHorario" class="btn btn-primary active">Registrar un nuevo horario</a>-->
      <a routerLink="listHorario" class="btn btn-primary active">Listar horarios</a>
      <a routerLink="findHorario" class="btn btn-primary active">Buscar horario</a>
      <a routerLink="faq" class="btn btn-primary active">Preguntas Frecuentes</a>
    </nav>

    <router-outlet></router-outlet>

    <div>
      <!--INICIO INFORMACION-->
      <h3>
        <!--a href="node/11717"-->Servicio Alternativo de Buses UPC
        <!--/a-->
      </h3>
      <!--AQUI MENU BUSQUEDA!!!!!!!-->
      <p>La UPC pone a disposición de los alumnos, docentes y personal administrativo un servicio alternativo de
        buses para desplazarse por fines académicos, extraacadémicos y administrativos, desde el Campus Villa hacia
        el Campus Monterrico, Campus San Isidro y Campus San Miguel, y viceversa.</p>

      <p><strong>¿Qué beneficios tengo al usar este servicio?</strong></p>

      <ul>
        <li><strong>Exclusividad:</strong> el uso es solo para nuestra comunidad universitaria.</li>
        <li><strong>Comodidad:</strong> el servicio cuenta con cuatro buses con capacidad para 51 pasajeros y dos
          <em>coasters </em>para 27 pasajeros. Todos nuestros alumnos viajan sentados.</li>
        <li><strong>Seguridad:</strong>&nbsp;todas las unidades de este servicio cuentan con GPS.</li>
        <li><strong>WiFi (*): </strong>para navegar por Internet y conectarse a nuestras plataformas UPC (Aula
          virtual, MI UPC, entre otras) desde sus dispositivos. Solicita el usuario y contraseña al conductor.</li>
        <li><strong>Conexión</strong>: Las unidades cuentan con servicio de cargadores para equipos móviles.</li>
      </ul>

      <p><em>(*) Está restringida la descarga de videos, música y fotos. Existen zonas en Lima Metropolitana donde
          la señal podrá ser inestable.</em></p>

      <p><em>
          <!--<div<p><img alt="" src="/sites/default/files/upc/seccion_general/Servicios/es/img_0004.jpg" style="width: 100%;" /></p>div>-->
          <!--<div<p><img alt="" src="/sites/default/files/upc/seccion_general/Servicios/es/img_0003.jpg" style="width: 100%;" /></p>div>--></em></p>

      <p style="text-align: justify">&nbsp;<br>
        <u><strong>FORMAS DE PAGO</strong></u></p>

      <p><strong>Tienes dos&nbsp;formas de acceder a este servicio: utilizando tu Tarjeta VISA UPC o tu Tarjeta
          VISA regular.</strong></p>

      <p><strong>1. TARJETA VISA UPC</strong></p>

      <p>Adquiere tu Tarjeta VISA UPC y efectúa el pago en el bus mediante los POS ubicados en cada unidad (S/ 3.00
        por viaje).</p>

      <ul>
        <li><strong>¿Cómo adquiero la tarjeta por primera vez?</strong><br>
          Realiza el pago único de S/ 5.00 por concepto de adquisición de tarjeta en los cajeros EVA ubicados en
          cada campus de la Universidad. Luego podrás canjear el voucher por tu Tarjeta VISA UPC en las cafeterías
          del campus autorizadas. Es importante que el voucher se encuentre en buen estado.<br>
          &nbsp;</li>
        <li><strong>¿Cómo la recargo?</strong><br>
          A través de los cajeros EVA ubicados en cada campus de la Universidad. En agentes y ventanillas: BCP –
          Interbank.</li>
      </ul>

      <p><strong>Para mayor información</strong><br>
        Portal Web: <a href="http://mi.upc.edu.pe" target="_blank">mi.upc.edu.pe</a> opción Mis Finanzas.<br>
        Correo: <a href="mailto:atencionalcliente@tarjetasperuanas.com.pe">atencionalcliente@tarjetasperuanas.com.pe</a><br>
        Web: <a href="http://www.tarjetalamagica.com.pe" target="_blank">www.tarjetalamagica.com.pe</a><br>
        &nbsp;</p>

      <p><strong>2. TARJETA VISA</strong><br>
        Si cuentas con una tarjeta VISA débito o crédito a tu nombre emitida por cualquier entidad bancaria puedes
        efectuar el pago en el bus mediante los POS ubicados en cada unidad (S/ 3.00 por viaje).</p>

      <p><br>
        <br>
        <u><strong>CONDICIONES DEL SERVICIO</strong></u></p>

      <ul>
        <li>Para abordar presenta siempre tu Tarjeta VISA UPC o tu Tarjeta VISA junto a tu TIU.</li>
        <li>El uso de la Tarjeta de Identificación UPC (TIU) física o virtual es obligatoria.</li>
        <li>Debes tener presente que en caso los buses o minibuses lleguen a completar su capacidad no podrán
          efecturar paradas de recojo adicionales, incluso en paraderos autorizados.</li>
        <li>No está permitido el cobro en efectivo.</li>
      </ul>

      <p><strong>Recuerda:</strong></p>

      <ul>
        <li>Las rutas están sujetas a evaluación y modificación en función a la demanda.</li>
        <li>Los horarios de salida y llegada establecidos están sujetos al tráfico vehicular.</li>
        <li>El acceso a los buses es en orden de llegada.</li>
        <li>La UPC no se hace responsable por cualquier evento ajeno a su esfera de control que retrase el
          desplazamiento de los buses. Toda circunstancia que dificulte la prestación del servicio será informada
          oportunamente y a través de los canales establecidos tan pronto se tome conocimiento de esta.</li>
      </ul>
    </div>
    <!--FIN INFORMACION-->
  </div>
  <!--fin contenido-->

</div>